# -----------------------
# Python cache
# -----------------------
__pycache__/
*.py[cod]

# -----------------------
# Jupyter
# -----------------------
.ipynb_checkpoints/

# -----------------------
# Virtual environments
# -----------------------
.env
.venv
env/
venv/

# Ignore project documentation archive and duplicate model package
car_damage_detection_project_record.docx
model.zip

# -----------------------
# Dataset folders
# -----------------------
data/
car_damage_yolo/

# -----------------------
# YOLO outputs
# -----------------------
runs/*

# Allow trained model directory
!runs/detect/
!runs/detect/car_damage_detector2/
!runs/detect/car_damage_detector2/weights/
!runs/detect/car_damage_detector2/weights/best.pt

# -----------------------
# OS junk
# -----------------------
.DS_Store
Thumbs.db
desktop.ini

# -----------------------
# IDE files
# -----------------------
.vscode/
.idea/

# -----------------------
# Logs
# -----------------------
*.log